@import "tailwindcss/theme.css";
@import "tailwindcss";


:root {
  color-scheme: only light;
}


@media (prefers-color-scheme: light) {
  :root {
    color-scheme: only light;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
